<section>
	<mat-card *ngFor="let design of designs | async" class="card">
		<mat-card-content routerLink="{{design.id}}">
			<div class="center-card">
				<img src="{{design.image}}" alt="{{design.title}}">
				<h2>{{design.title}}</h2>
				<p><small>Posted by {{design.author}} &bull; on {{design.submitted.toDate() | date: 'fullDate'}}</small></p>
			</div>
		</mat-card-content>
		<mat-card-actions align="end" *ngIf="auth.currentUserId === design.authorId">
			<button mat-icon-button (click)="delete(design.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</section>

<div class="create-design" *ngIf="auth.afAuth.authState | async as user;">
	<span class="spacer"></span>
	<button mat-raised-button color="accent" routerLink="/design/dashboard">Publish a Design</button>
</div>