@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~src/variables.scss";

body {
    padding: 2em 23em;
    background:lightgray;
}

mat-card {
	max-width: 30vw;
	margin: 20px;
}

.card {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.card-toolbar {
	padding: 0;
}

.card-content {
	margin: 10px;
	padding: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
}

mat-card-content:focus {
	outline: none;
	border: 0;
}

.container {
	padding: 0;
	border: 1px solid rgba(111, 111, 111, 0.50);
	margin: 10px auto;
	width: 75%;
}

img {
	width: 50%;
	height: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-center {
	margin: 0 auto;
}

.center-content {
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.languages {
	display: inline-block;
	font-size: 1.2em;
	margin: 10px 0;
}

.actionsmain {
	position: relative;
	bottom: 5px;
	margin: 10px auto;
}

.actions {
	margin-bottom: 20px;
}