<div class="container-fluid container">
	<div class="row justify-content-md-center">
		<div class="col-sm">
			<mat-toolbar color="primary">
				<span class="title-center">Portfolio Projects</span>  
			</mat-toolbar>
		</div>
	</div>
	<div class="row justify-content-center card-group equal">
		<div class="col-6 d-flex align-items-stretch card-list"  *ngFor="let project of mProjects">
			<mat-card class="card mat-elevation-z8 card-toolbar ">
				<mat-toolbar class="card-toolbar-header">
					<span class="title-center">{{project.title}}</span>  
				</mat-toolbar>
				<mat-card-content class="card-content center-content" routerLink="{{project.url}}">
					<img src="{{project.image}}" alt="{{project.title}}">
					<br>
					<div class="languages" *ngFor="let language of project.languages; last as isLast">
						<span *ngIf="!isLast">{{language}} -&nbsp;</span>
						<span *ngIf="isLast">{{language}}</span>
					</div>
					<p>{{project.description}}</p>
					<p>Last worked on {{project.date}}</p>
				</mat-card-content>
				
			</mat-card>
		</div>
	</div>
</div>