<div>
	<div class="profile">
		<div class="center-card">
			<img class="profile-img" src="assets/profile.jpg"/>

			<h1 class="big-title">
				<span class="title-center-left">Connor </span>
				<span class="title-center-right">Filipovic</span>
			</h1>

			<h3 class="small-title">
				<span>Growth Minded Developer</span>
			</h3>
		</div>

		<div class="container center-card">
			<mat-card class="card social" onclick="window.open('https://github.com/cfilipovic','mywindow');" style="cursor: pointer;">
				<mat-card-content>
					<img src="./assets/public_white_48dp.png" alt="Github Logo" />
					<p class="title">Github</p>
					<p class="subtitle">GitHub.com/Cfilipovic</p>
				</mat-card-content>
			</mat-card>

			<mat-card class="card email">
				<mat-card-content>		
					<img src="./assets/email_white_48dp.png" alt="Email Logo"/>		
					<p class="title">Email</p>
					<p class="subtitle">Business@ConnorFilipovic.com</p>
				</mat-card-content>				
			</mat-card>

			<mat-card class="card portfolio" routerLink="/portfolio">
				<mat-card-content>			
					<img src="./assets/perm_contact_calendar_white_48dp.png" alt="Portfolio Logo"/>				
					<p class="title">Portfolio</p>
					<p class="subtitle">ConnorFilipovic.com/portfolio</p>
				</mat-card-content>	
			</mat-card>
		</div>

		<div class="stars" >
			<div class="star" *ngFor="let star of stars"></div>
		</div>		
	</div>
</div>